body {  
  background-image: url('Portfolio_Backdrop_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: black;
  border-color: black;
  color: white;
  /*margin-top: 20px;*/
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

.nav.navbar-nav.navbar-right .active a {
  color: black;
  background-color: #ADD8E6;
}

.nav.navbar-nav.navbar-right .active a:hover {
  color: black;
  background-color: #ADD8E6;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #ADD8E6;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: #ADD8E6;
}

.nav {
  padding-right: 20px;
  font-family: 'Rajdhani', sans-serif;
  color: black;
  font-size: 23px;
}

.navbar-header {
  padding-left: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.navbar-brand {
  background-color: black;
  font-size: 26px;
}

.jumbotron .name {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  margin-top: 270px;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 250px;
}

.jumbo {
  font-family: 'Rajdhani', sans-serif;
  margin-top: 30px;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 250px;
}

.jumbotron {
  height: 890px;
  background-image: url('barce_2017.jpg');
  background-size: cover;
}

.approw {
  text-align: center;
}

.appgif {
  height: 340px;
  width: 600px;
  margin-top: 50px;
  border: 4px solid #ADD8E6;
}

.apptitle {
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

.apptitle a {
  text-decoration: none;
  color: white;
}

.apptitle a:hover {
  color: #ADD8E6;
}

.soon h1 {
  color: white;
}

.carousel.slide {
  margin-top: 60px;
}

h3 {
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

.carousel.slide {
  border: 3px solid #ADD8E6;
}

.embed-responsive.embed-responsive-16by9 {
  margin-top: 60px;
  border: 3px solid #ADD8E6;
} 